<!DOCTYPE html>
<html>
<head>
	<title>Washer Tracker</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='scan.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
  	<header>Scan {% if for_washer %}Washer{% else %}Dryer{% endif %} #{{ washer_id }}</header>
	<form id="form" onsubmit="sendData(event)">
		{% if current_state == MachineState.EMPTY %}
		<input type="hidden" name="new_state" value="RUNNING">
		<select name="cycle">
			<option selected>Select a cycle...</option>

			{% if for_washer %}
			<option value="WASHER_PERM_PRESS">Perm Press (24 minutes)</option>
			<option value="WASHER_COOL">Cool (27 minutes)</option>
			{% else %}
			<option value="DRYER_DELICATES">Delicates (40 minutes)</option>
			<option value="DRYER_MEDIUM">Medium (42 minutes)</option>
			{% endif %}
		</select>
		<input type="submit" value="Start Load">

		{% elif current_state == MachineState.FULL %}
		<input type="hidden" name="new_state" value="EMPTY">
		<h3>Thank you for emptying this {% if for_washer %}washer{% else %}dryer{% endif %} in a timely manner!</h3>
		<input type="submit" value="Empty">

		{% else %}  <!-- current_state == MachineState.RUNNING -->
		<h3>Sorry, this {% if for_washer %}washer{% else %}dryer{% endif %} is currently running.</h3>
		{% endif %}
	</form>
	<script>

		function sendData(event) {
			event.preventDefault();

			const formData = new FormData(document.getElementById('form'));

			const payload = {
				state: formData.get('new_state')
			};
			if (payload.state === 'RUNNING') {
				payload.cycle = formData.get('cycle');
			}

			fetch(window.location.pathname, {
				method: 'POST',
				body: JSON.stringify(payload),
				headers: {
					'Content-Type': 'application/json'
				}
			})
				.then(() => {
						alert('Thank you!');
				window.location = '/';
				})
				.catch(() => alert('Something went wrong, please try again later.'));
		}
	</script>
</body>
</html>