<!DOCTYPE html>
<html>
<head>
  <title>Washer Tracker</title>
</head>
<body>
  <form id="form" onsubmit="sendData(event)">
    <select id="new_state" name="new_state" onchange="onSelectState(this.value);" >
      <option selected>Select one...</option>
      <option value="RUNNING">Adding a load</option>
      <option value="EMPTY">Removing a load</option>
    </select>

    <select id="cycle" name="cycle" hidden>
      <option selected>Select one...</option>

      {% if for_washer %}
      <option value="WASHER_PERM_PRESS">Perm Press (24 minutes)</option>
      <option value="WASHER_COOL">Cool (27 minutes)</option>
      {% else %}
      <option value="DRYER_DELICATES">Delicates (40 minutes)</option>
      <option value="DRYER_MEDIUM">Medium (42 minutes)</option>
      {% endif %}
    </select>

    <input type="submit" value="Submit">
  </form>
  <script>
    function onSelectState(value) {
      const cycleSelector = document.getElementById('cycle');
      cycleSelector.hidden = value !== 'RUNNING';
    }

    function sendData(event) {
      event.preventDefault();

      const formData = new FormData(document.getElementById('form'));

      const payload = {
        state: formData.get('new_state')
      };
      if (payload.state === 'RUNNING') {
        payload.cycle = formData.get('cycle');
      }

      fetch('/scan/' + window.location.pathname.split("/").pop(), {
        method: 'POST',
        body: JSON.stringify(payload),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(() => alert('Thank you!'))
        .catch(() => alert('Something went wrong, please try again later.'));
    }
  </script>
</body>
</html>